@import "tailwindcss";

@layer components {
  .triangle-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: transparent;
  }


  .triangle-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
    height: 0;
    
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 14px solid red;
    margin-top: 22px;
  }
}
